<div class="container">
  <div class="logo"><h3>Logo</h3></div>
  <div div class="header">
    <div class="headerContainer">
      <div *ngIf="backArrow">
        <button
          class="arrow"
          mat-button
          matTooltip="back to project list"
          (click)="onBack()"
        >
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
      </div>
      <h2>{{ header }}</h2>
      <button
        mat-raised-button
        color="warn"
        *ngIf="hasAddButton"
        type="button"
        (click)="onAdd()"
      >
        + Add Project
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
