.logo{
  margin-left: 20px;
  position: absolute;
  width: 1440px;
  height: 56px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;

}
.header{
  margin-left: 20px;
  position: absolute;
width: 1440px;
height: 56px;
left: 0px;
top: 57px;

background: #FFFFFF;
/* stroke / bottom */

box-shadow: inset 0px -1px 0px #D9D9D9;
}
h2{
  height: 32px;
width: 114px;
left: 48px;
top: 69px;
border-radius: nullpx;

}
h3{
  height: 32px;
width: 40px;
left: 48px;
top: 12px;
border-radius: nullpx;

}
