<div *ngIf="loadEmployeesPending$ | async">
  <h2>Loading...</h2>
  <mat-spinner> </mat-spinner>
</div>
<div *ngIf="addProjectPending$ | async">
  <h2>Saving...</h2>
  <mat-spinner> </mat-spinner>
</div>
<div *ngIf="updatePending$ | async">
  <h2>Updating...</h2>
  <mat-spinner> </mat-spinner>
</div>
<div *ngIf="loadProjectPending$ | async">
  <h2>Loading...</h2>
  <mat-spinner> </mat-spinner>
</div>

<div class="newProject">
  <mat-card fxFlex.xs="90" fxFlex="45">
    <form
      [formGroup]="formNew"
      (ngSubmit)="onSubmit()"
      fxLayoutAlign="stretch"
      fxLayout="column"
    >
      <mat-form-field appearance="fill">
        <mat-card-subtitle>Project Name</mat-card-subtitle>
        <input matInput formControlName="name" id="name" required />

        <mat-error *ngIf="hasError('name', 'required')"
          >This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-card-subtitle>Description</mat-card-subtitle>
        <input
          matInput
          formControlName="description"
          id="description"
          required
        />
        <mat-error *ngIf="hasError('description', 'required')"
          >Plase enter a description
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-card-subtitle>Project Manager</mat-card-subtitle>
        <mat-select formControlName="manager" id="manager" required>
          <mat-option *ngFor="let employee of employeeList" [value]="employee"
            >{{ employee.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('manager', 'required')"
          >Plase select one
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-card-subtitle>Assigned to</mat-card-subtitle>
        <mat-select formControlName="assigned" id="assigned" required>
          <mat-option *ngFor="let employee of employeeList" [value]="employee"
            >{{ employee.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('assigned', 'required')"
          >Plase select one
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-card-subtitle>Status</mat-card-subtitle>

        <mat-select formControlName="status" required>
          <mat-option value="enabled">Enabled</mat-option>
          <mat-option value="disabled">Disabled</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('status', 'required')"
          >Plase enter a status
        </mat-error>
      </mat-form-field>

      <button
        type="submit"
        style="width: 40%"
        mat-raised-button
        color="warn"
        [disabled]="!formNew.valid"
      >
        {{ editMode ? "Save changes" : "Create project" }}
      </button>
    </form>
  </mat-card>
</div>
